<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
    <link rel="stylesheet" href="../static/styles_f.css">
</head>

<body>

    <main class="container">
        <section class="main">
            <div class="nombre">
                <label>Your Name:</label>
                <input type="text" name="name">
            </div>
            <div class="location">
                <label for="location">Dojo Location:</label>
                <select id="location" name="location">
                    <option value="mv">Mountain View</option>
                    <option value="other">Other location</option>
                </select>
            </div>

            <div class="language">
                <label for="language">Favorite Language:</label>
                <select id="language" name="language">
                    <option value="mv">Javascript</option>
                    <option value="other">Node</option>
                </select>
            </div>

            <p>Commnent (optional)</p>
            <div>
                <textarea name="" id="" cols="30" rows="7">

            </textarea>
            </div>

            <div class="botonera">
                <input type="submit" class="submit" value="Submit">
            </div>

        </section>
    </main>

</body>

</html>