<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado</title>
    <link rel="stylesheet" href="../static/styles_r.css">
</head>
<body>

    <main class="container">
        <header>
            <h3>Submitted Information</h3>

            <section class="info">
                <article>
                    <label for="">Name:</label>
                    <span>Michael Chai</span>
                </article>

                <article>
                    <label for="">Dojo Location:</label>
                    <span>Seattle, WA</span>
                </article>

                <article>
                    <label for="">Favorite Language:</label>
                    <span>Node!!</span>
                </article>

                <article>
                    <label for="">Comment:</label>
                    <span>:-)</span>
                </article>

                <div class="botonera">
                    <input type="submit" class="submit" value="Submit">
                </div>
            </section>

        </header>

            

    </main>
    
</body>
</html>